@import '../../node_modules/bootstrap/scss/bootstrap.scss';

$primary: #00be65;
$secondary: #008546;

$custom-bg-color-1: #F2F2F2;
$custom-bg-color-2: #ccf2e0;

$body-color: #F2F2F2;
$heading-color: #00be65;

$screen-md: 800px;
$screen-lg: 1200px;

$border-radius: 8px;

$h1-font-size: 2.5rem;
$h2-font-size: 2rem;
$h3-font-size: 1.75rem;
$h4-font-size: 1.5rem;
$h5-font-size: 1.25rem;
$h6-font-size: 1rem;

$font-family-base: "Poppins", sans-serif;

hr{
    border-top: 0;
    opacity: 1;
}