<!DOCTYPE html>
<html lang="ro">
	<head>
		<title>Confirmare</title>
		<%- include("../fragmente/head.ejs") %>
	</head>
	<body>
		<header>
			<%- include("../fragmente/header.ejs") %>
		</header>
		<main>
			
			<h1>Termeni și condiții</h1>
    <h2>1. Introducere</h2>
    <p>Bine ați venit la PhoneRemix! Acest document stabilește termenii și condițiile pentru utilizarea site-ului nostru web de vânzare și cumpărare a telefoanelor recondiționate. Prin utilizarea acestui site, sunteți de acord cu acești termeni și condiții.</p>
    
    <h2>2. Definiții</h2>
    <ul>
        <li><strong>PhoneRemix</strong>: Se referă la site-ul nostru web și serviciile pe care le oferim.</li>
        <li><strong>Utilizator</strong>: Orice persoană care accesează și utilizează serviciile noastre.</li>
        <li><strong>Produse</strong>: Telefoanele recondiționate disponibile pentru vânzare și cumpărare pe site-ul nostru.</li>
    </ul>
    
    <h2>3. Acceptarea termenilor</h2>
    <p>Prin utilizarea site-ului nostru, sunteți de acord să respectați acești termeni și condiții și toate legile și reglementările aplicabile.</p>
    
    <h2>4. Înregistrare și conturi</h2>
    <ul>
        <li>Pentru a utiliza anumite funcționalități ale site-ului nostru, este posibil să fie necesar să vă înregistrați și să creați un cont.</li>
        <li>Sunteți responsabil pentru menținerea confidențialității informațiilor contului dvs. și pentru toate activitățile care au loc sub contul dvs.</li>
    </ul>
    
    <h2>5. Confidențialitatea datelor</h2>
    <p>Datele personale colectate, cum ar fi numele, prenumele și adresa de email, vor fi stocate și utilizate în conformitate cu Politica noastră de confidențialitate.</p>
    
    <h2>6. Comenzi și plăți</h2>
    <ul>
        <li>Toate comenzile sunt supuse disponibilității produselor și confirmării prețului comenzii.</li>
        <li>Acceptăm diferite metode de plată, iar informațiile despre plăți sunt procesate în mod securizat.</li>
    </ul>
    
    <h2>7. Livrare și returnări</h2>
    <ul>
        <li>Produsele vor fi livrate conform informațiilor furnizate la plasarea comenzii.</li>
        <li>Avem o politică de returnare specificată pe site pentru produsele achiziționate.</li>
    </ul>
    
    <h2>8. Limitarea răspunderii</h2>
    <p>PhoneRemix nu este responsabil pentru niciun prejudiciu direct sau indirect cauzat de utilizarea sau incapacitatea de a utiliza site-ul nostru sau produsele achiziționate prin intermediul site-ului nostru.</p>
    
    <h2>9. Modificări ale termenilor și condițiilor</h2>
    <p>Ne rezervăm dreptul de a modifica acești termeni și condiții în orice moment. Vă vom notifica cu privire la modificări prin actualizarea acestui document pe site-ul nostru.</p>
    
    <h2>10. Contact</h2>
    <p>Pentru orice întrebări sau nelămuriri privind acești termeni și condiții, vă rugăm să ne contactați la <a href="mailto:testphoneremix@gmail.com">testphoneremix@gmail.com</a>.</p>
		</main>
		
		<%- include("../fragmente/footer.ejs") %>
		
	</body>
</html>