body main a {
    position: relative;
    display: inline-block;
}

body main a:visited {
    color: var(--paynes-grey);
}

body main a[href^="http"]::before {
    content: "\2BB3";
    font-size: 150%;
    transition: color 0.3s;
}

body main a[href^="http"]:hover::before {
    color: var(--text-dark);
}

body main a::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(var(--spring-green) 0%, var(--spring-green) 40%, transparent 80%, transparent 100%);
    background-position: center;
    border-radius: 50%;
    /*background-size: 0;
    transition: background-size 1s;*/
    z-index: -1;
    transform: scale(0);
    transition: transform 1s;
}

body main a:hover::after {
    /*background-size: 100%;*/
    transform: scale(1);
}