<footer>
            <section id="banner" class="hidden">
                <p>Acesta este un proiect școlar!</p>
                <p>Acceptați cookie-uri?</p>
                <button id="acceptCookies">OK</button>
            </section>
            <a href="#">Mergi sus</a>
            <a href="/resurse/imagini/imagine3.jpg"
                download>Descarca</a>
            <a href="#" title="Mergi sus" id="link-top">
                <div id="sageata">
                    <div id="triunghi"></div>
                    <div id="triunghi-coada"></div>
                </div>
            </a>
            <address>
                <p>Strada PhoneRemix Nr 14, Bucuresti,
                    Romania</p>
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2917258.7110728035!2d21.4874838875!3d44.435511700000006!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40b1ff473869f53f%3A0xee62eda4d786c152!2sUniversity%20of%20Bucharest!5e0!3m2!1sen!2sro!4v1709540394662!5m2!1sen!2sro"
                    width="600" height="450" style="border:0;"
                    allowfullscreen
                    loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </address>
            <a href="skype:echo123?call">
                Suna pe Skype
            </a>
            <a href="mailto:info@phoneremix.ro"> Mail PhoneRemix</a>
            <a href="tel:+40728333444"> Suna acum</a>
            <br>
            <small>Copyright &copy; <time datetime="2024-03-21">21 Martie
                    2024</time> PhoneRemix. Toate
                drepturile rezervate.</small>
            <a href="termeni" title="Termeni si conditii">Termeni si
                conditii</a>
            <a href="politica" title="Politica de confidentialitate">Politica de confidențialitate</a>
        </footer>