<header>
            <input type="checkbox" id="menu-toggle">
            <label for="menu-toggle"><i
                    class="fa-solid fa-bars" id="hamburger-btn"></i></label>

            <h1>PhoneRemix</h1>
            <nav>
                <ul>
                    <li>
                        <a href="index"><i
                                class="fa-solid fa-house"></i></a>
                        <span><a href="index"
                                id="acasa-nav">Acasa</a></span>
                    </li>
                    <li> Pagini
                        <ul>
                            <li><a href="pagina2">Pagina 2</a></li>
                            <li><a href="pagina3">Pagina 3</a></li>
                            <li><a href="pagina4">Pagina 4</a></li>
                            <li><a href="pagina5">Pagina 5</a></li>
                            <li><a href="pagina6">Pagina 6</a></li>
                            <li><a href="pagina7">Pagina 7</a></li>
                            <li><a href="pagina8">Pagina 8</a></li>
                            <li><a href="despre">Despre</a></li>
                        </ul>
                    </li>
                    <li> Secțiuni
                        <ul>
                            <li><a href="#welcome">Welcome</a></li>
                            <li><a href="#orar">Orar</a></li>
                            <li><a href="#promotii">Promotii</a></li>
                            <li><a
                                    href="#intrebari-frecvente">Intrebari</a></li>
                            <li><a href="#descriere">Descriere</a></li>
                            <li><a href="#stoc">Stoc</a></li>
                            <li><a href="#video-yt">Video</a></li>

                        </ul>
                    </li>
                    <li> Produse
                        <ul>
                            <li><a href="/produse">Produse</a></li>
                            <% for (let opt of locals.optiuni) { %>
                                <li><a href="/produse?tip=<%- opt.unnest %>"><%- opt.unnest %> </a></li>
                            <% } %>

                        </ul>
                    </li>
                </ul>
            </nav>
        </header>